[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/thisivan/vim-bufexplorer.git
[submodule "bundle/color_sample_pack"]
	path = bundle/color_sample_pack
	url = https://github.com/vim-scripts/Color-Sampler-Pack.git
[submodule "bundle/haml"]
	path = bundle/haml
	url = https://github.com/tpope/vim-haml.git
[submodule "bundle/protobuf"]
	path = bundle/protobuf
	url = https://github.com/jboyens/vim-protobuf.git
[submodule "bundle/rails"]
	path = bundle/rails
	url = https://github.com/tpope/vim-rails.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/Hemisu"]
	path = bundle/Hemisu
	url = https://github.com/noahfrederick/Hemisu
[submodule "bundle/badwolf"]
	path = bundle/badwolf
	url = http://github.com/sjl/badwolf/
[submodule "bundle/quickhl"]
	path = bundle/quickhl
	url = https://github.com/t9md/vim-quickhl
[submodule "bundle/Spacedust-theme"]
	path = bundle/Spacedust-theme
	url = https://github.com/mikker/Spacedust-theme.vim
[submodule "bundle/vim-slim"]
	path = bundle/vim-slim
	url = https://github.com/bbommarito/vim-slim
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides

[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = http://github.com/majutsushi/tagbar.git
[submodule "bundle/butane"]
	path = bundle/butane
	url = https://github.com/Soares/butane.vim
[submodule "bundle/FuzzyFinder"]
	path = bundle/FuzzyFinder
	url = https://github.com/vim-scripts/FuzzyFinder
[submodule "bundle/L9"]
	path = bundle/L9
	url = https://github.com/vim-scripts/L9
[submodule "bundle/vim-getafe"]
	path = bundle/vim-getafe
	url = https://github.com/larssmit/vim-getafe
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular
[submodule "bundle/vim-tomorrow-theme"]
	path = bundle/vim-tomorrow-theme
	url = https://github.com/chriskempson/vim-tomorrow-theme
[submodule "bundle/vim-markmultiple"]
	path = bundle/vim-markmultiple
	url = https://github.com/adinapoli/vim-markmultiple
[submodule "bundle/vim-extradite"]
	path = bundle/vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/amy-vim-colorscheme"]
	path = bundle/amy-vim-colorscheme
	url = git://github.com/daf/amy-vim-coloscheme.git
[submodule "bundle/vim-signify"]
	path = bundle/vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "bundle/vim-ragtag"]
	path = bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = http://github.com/xolox/vim-easytags
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = git@github.com:derekwyatt/vim-scala.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = git://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-visual-star-search"]
	path = bundle/vim-visual-star-search
	url = https://github.com/bronson/vim-visual-star-search
[submodule "bundle/vim-ultimate-colorscheme-utility"]
	path = bundle/vim-ultimate-colorscheme-utility
	url = https://github.com/biskark/vim-ultimate-colorscheme-utility
[submodule "bundle/vim-jdaddy"]
	path = bundle/vim-jdaddy
	url = https://github.com/tpope/vim-jdaddy
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "bundle/vim-less"]
	path = bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "bundle/neonwave.vim"]
	path = bundle/neonwave.vim
	url = https://github.com/Sclarki/neonwave.vim
[submodule "bundle/Muon"]
	path = bundle/Muon
	url = https://github.com/gregsexton/Muon
[submodule "bundle/pytest.vim"]
	path = bundle/pytest.vim
	url = https://github.com/alfredodeza/pytest.vim.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc
